
<h1>Listing cards</h1>

<%= link_to 'New card', new_card_path %>
 
<table>
  <tr>
    <th>Question</th>
    <th>Type</th>
    <th>Options</th>
    <th>Answer</th>
    <th>Answer Notes</th>
    <th></th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.question %></td>
      <td><%= card.answer_type %></td>
      <td><%= card.options %></td>
      <td><%= card.answers %></td>
      <td><%= card.answer_notes %></td>
      <td><%= link_to 'Show', card_path(card) %></td>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= card_path(card) %></td>
      <td><%= link_to 'Destroy', card_path(card),
              method: :delete,
              data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>