<!DOCTYPE html>
<html>
  <head>
    <title>Studify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# mobile responsive %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <%#  TODO: match index.html css %>
    <style>
html,
body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

body {
	height: 100vh;

	font-family: sans-serif;
	font-size: 16px;
	color: #000000;
}

* {
	box-sizing: border-box;
}

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

